body {
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.card-title {
    font-weight: 500;
}

.card-text {
    font-size: 0.9em;
}

.btn-outline-primary {
    border: 1px solid #564d7c;
    color: #564d7c;
}

.btn-outline-primary:hover {
    background-color: #563d7c;
    color: #fff;
    border: 1px solid #563d7c;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.container {
    padding-bottom: 2rem;
}
